body {
		font-family: arial;
}
h1 {
    margin-left: 5.5%;
    font-size: 2.9vw;
}

.myDiv {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;    
    text-align: left;
    width: 20%;
    padding: 10px;
    margin-left: 5%;
    font-size: 2vh;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);
}

.plotsDiv {
		top: 15%;
		height: 80%;
		/* top: 50%; */
		position: absolute;
		/* transform: translateY(-50%); */
		width: 65%;
		left: 30%;
		max-height: 80%;
		display: flex;
    flex-direction: column;
}

.heading {
    padding-left: 2px;
    font-weight: bold;
    margin-bottom: 0.2vw;
    margin-top: 1vh;
    font-size: 3vh;
}

.flex-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-options div {
    flex-grow: 1;
    padding: 2px;
}

.flex-options p {
    margin: 0px;
}

.flex-options select {
    font-size: 3vh;
    width: 100%;
}

.topRight {
		position: absolute;
		top: 5%;
		right: 5%;
    z-index: 2;
    display: flex;
}

#selAct {
		font-size: 3vh;
		float: right;
}

#tooltipi {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: Times New Roman;
    float: left;
		margin: auto;
		margin-right: 5px;
}


#tooltip {
		border: 2px solid black;
		border-radius: 5px;
		width: fit-content;
		height: fit-content;
		margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
		background: white;
		padding: 3%;
		text-align: center;
		z-index: 1;
		display: none;
		font-size: 20px;
}

.plotTableDiv {
		overflow-x: auto;
		margin: auto;
		width: fit-content;
		display: none;
		height: 100%;
}
#plotTable {
		text-align: right;
 		border-collapse: collapse;
		font-size: 19px;
}

#plotTable td {
		padding: 5px;
		border: 1px solid;
		min-width: 32px;
}

.warn {
		color: #FFb829;
}
.alert {
		color: #ff2929;
}

// Dark mode toggle
.checkbox {
		opacity: 0;
}
#checkbox {
		opacity: 0;
}
.label {
		width: 30px;
		height: 10px;
		background-color: #111;
		display: flex;
		border-radius: 50px;
		align-items: center;
		justify-content: space-between;
		padding: 3px;
		position: relative;
		transform: scale(1.2);
		right: 10px;
		margin: auto;
}
.ball {
		width: 13px;
		height: 13px;
		background-color: white;
		position: absolute;
		left: 2px;
		border-radius: 50%;
		transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
		transform: translateX(18px);
}
.fa-moon {
		color: pink;
		font-style: normal;
}
.fa-sun {
		color: yellow;
		font-style: normal;
}



/*
 * Dark mode
 */
.dark {
		background-color: #2C394B;
}
.dark h1 {
		color: #FF4C29
}
.dark .myDiv {
		background-color: #082032;
		color: lightgray;
}
.dark .plotsDiv {
		color: lightgray;
}
.dark #tooltipi {
		color: lightgray;
		border-color: lightgray;
}
.dark #tooltip {
		background-color: #082032;
		color: lightgray;
}


/* Mobile Version */
@media (orientation: portrait) {
    h1 {
        margin-left: 3%;
        position: relative;
        font-size: 6vw;
    }

    #selAct {
    		font-size: 5vw;
    }

    .topRight {
    		top: 0px;
    		margin-top: -10vw;
    		position: relative;
    		margin-bottom: 10px;
    }

    #tooltipi {
    		font-size: 5vw;
    		width: 5vw;
    		height: 5vw;
    		border-radius: 5vw;
    		margin-left: 0px;
    }

    .myDiv {
        margin-left: 3%;
        position: relative;
        width: 90%;
        transform: none;
    }
    
    .heading {
    		font-size: 3vw;
    }

    .flex-options div {
        flex-basis: 30%;
    }

    .flex-options p {
        font-size: 3vw;
    }

    .flex-options select {
        font-size: 5vw;
    }

    .flex-options-4 div {
        flex-basis: 40%;
    }

		
		.plotsDiv {
				width: 92%;
				left: 3%;
				position: relative;
				margin-top: 10px;
		}

		.plotTableDiv {
				width: 100%;
		}
		#plotTable {
				width: 99%;
				min-width: 0px;
				font-size: 3vw;
		}

		.label {
				transform: scale(2.3);
				margin-right: 15px;
		}
}
















